*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.div{
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header{
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    width: 1500px;
    height: 70px;
}
